[2018-08-13 00:58] Retul15 opened #2 "Stopped working with private accounts"
This code worked fine to download private account's stories if my account following the private account. But now it is only working with public accounts.
It only shows for private account `There are no recent stories to process for this user`

[2018-08-13 01:26] dvingerh commented on #2
I cannot reproduce the issue. Please give the following information:

- Instagram API version
- Python version

Also verify you are still indeed following the user and that this issue also occurs with other private accounts that you follow (make a test account if necessary)

[2018-08-13 02:11] Retul15 commented on #2
My python version is Python 3.5.3 and I have installed Instagram private API with this command `pip3 install git+https://git@github.com/ping/instagram_private_api.git@1.5.7`
I don't know what it's version. And I have already tried it with two accounts. One of them is my test account. After making my account public it downloaded. Also I have tried another account to download stories but still no su

[2018-08-13 02:42] dvingerh commented on #2
I've tested on two unrelated machines with different accounts and it works fine. It must be something on your end. Try on a different network (different IP) and ensure you have the latest API version installed (can check with `pip3 freeze`).

Will close this issue since it's not a problem with the script, but feel free to report back with any findings

[2018-08-13 02:42] #2 closed, assigned to nobody

[2018-12-30 09:04] sabueso opened #3 "Config file option to provide IG profiles"
HI!

Would be great to load a file as "profiles.txt" with all the needed profiles to be downloaded right there. Actually, the workaround

[code]

should work, but maybe is not the more elegant solution.

What do you think?
Thanks!

[2018-12-30 12:06] dvingerh commented on #3
This has now been added in https://github.com/notcammy/PyInstaStories/commit/b44c7a203d2b9fc74d561fd485db924a5262de42. 🙂

Use `--batch-file` or simply `-b` to pass a text file with usernames.

[2018-12-30 12:06] #3 closed, assigned to nobody

[2018-12-30 17:05] sabueso commented on #3
Great job! ;)

[2018-12-30 22:45] jz1 opened #4 "Idea: Date support?"
Hi,
Script is working finely here how it should, thank you for that.

But i was wondering is it possible for date support? "taken_at" that that gets written into the filename or something like that?

Cheers

[2018-12-30 23:27] dvingerh commented on #4
Added in https://github.com/notcammy/PyInstaStories/commit/fb582fdf0d4e0bc66491ad6ec299977799c668e3 🙂

Use `-ta` or `--taken-at` to append the `taken_at` timestamp to filenames.

For example,
`46634327_330751597776275_2127806995244521371_n.jpg`
becomes
`46634327_330751597776275_2127806995244521371_n_1546184626.jpg`

If you prefer to have the entire filename to be just the timestamp instead (or any

[2018-12-30 23:42] jz1 commented on #4
Wow thats what i called fast!!
Thanks alot works great!
I think i prefer if possible would be before the file name, so u can sort it in order of dates, incase in a(practically) almost impossible scenario the same taken date, then there will be a filename collision.
Or is it also possible to convert the date to relative dates?
Like dmy_His_ (DayMonthYear_24HoursMinutesSeconds) or something?
It's be

[2018-12-30 23:46] dvingerh commented on #4
I'll try readable dates tomorrow, and otherwise prepend the timestamp instead of appending it.

[2018-12-31 14:13] dvingerh commented on #4
`--taken-at` will now save files with a readable format such as `2018-12-30_15-43-35.jpg` which should be fine for archival purposes imo.

[2018-12-31 14:23] jz1 commented on #4
Thanks, perfect! Although i just tried it out and i'm getting the error now
"[E] An error occurred: must be str, not int"

[2018-12-31 14:24] dvingerh commented on #4
Made a typo, it should be working now hehe
I'm a rather sloppy coder

[2018-12-31 14:33] jz1 commented on #4
Works perfectly now, awsome!
Haha aslong it works, its fine by me!

[2018-12-31 14:34] jz1 commented on #4
Works perfectly now, awsome!
Haha aslong it works, its fine by me!
Know im asking much, but is it also possible to add archived_media_timestamp? like a if condition if that exist take that time instead? Since thats when a flashback story is posted, and basicly gets the original date/time then.

[2018-12-31 14:55] dvingerh commented on #4
`imported_taken_at` apparently may have the same timestamp for a different stories (e.g. the same picture reposted with different captions), so I will also add the picture id to the filename whenever the story is a flashback story.

[2018-12-31 15:09] dvingerh commented on #4
I have pushed some new code for flashback stories now, whenever a story is a flashback story its filename will be like this:
`2018-12-29_19-42-19_BsBFarfnsfB.jpg`

[2018-12-31 18:17] jz1 commented on #4
Legend! Gonna check it out tomorrow,
I can see you dutch also, so alvast de beste wensen voor het nieuwe jaar!

[2019-01-02 13:32] sabueso opened #5 "PyinstaStories stops when multiple users are provided and one is not working"
Hi

When you provide several users (not in batch mode) and one of them is not working or maybe, changed the name of the account, the download is stopped in this profile with the message

[code]

Is this normal? This will happen in the batch mode too?

Thanks!

[2019-01-02 15:05] dvingerh commented on #5
This should now be fixed with https://github.com/notcammy/PyInstaStories/commit/34366413b75ad6b43e9a70d54dfa08e4f1127616 , try the newest version of the script 🙂

[2019-01-05 15:21] #5 closed, assigned to nobody

[2019-01-06 02:37] sabueso commented on #5
Perfect! Works as expected. Thanks!

[2019-01-08 05:54] RVLVT opened #6 "Skip Video Thumbnail"
Hi! I noticed that this script also downloading the video thumbnail, is there anyway to skip downloading video thumbnail?

[2019-01-08 20:14] dvingerh commented on #6
Update the script to the latest version and you'll be able to pass `--no-thumbs` to skip downloading video thumbnails.

[2019-01-08 20:15] dvingerh commented on #4
Closing due to inactivity and the feature was implemented.

[2019-01-08 20:15] #4 closed, assigned to nobody

[2019-01-10 00:09] RVLVT commented on #6
Awesome! Works perfectly
ooh.. just wanna point out that the URLopener got deprecation warning on python 3.7, changed it to `urllib.urlretrieve(video[0], save_path)` or `urllib.urlretrieve(image[0], save_path)` works fine for me.

[2019-01-11 17:40] dvingerh commented on #6
Now using `urllib.urlretrieve()` 🙂

[2019-01-11 17:40] #6 closed, assigned to nobody

[2019-02-08 18:45] ghost opened #7 "Users keeps changing their username"
I have the script running 24/7 checking stories for this specific user and I noticed that he keeps changing her username. Once he does that, the script won't download his stories until I manually enter his new username in the .txt file.
Is it possible to implement a feature that once the script runs on a .txt file , it automatically writes all the identifiers of every username from the .txt file i

[2019-02-08 19:13] dvingerh commented on #7
You can now pass user ids yourself (get them from [here](https://codeofaninja.com/tools/find-instagram-user-id)).

Just add them to the txt file.

[2019-02-08 19:13] #7 closed, assigned to nobody

[2019-02-14 02:39] ghost opened #8 "User id error"
I'm having trouble with passing user id to the script instead of the username. I simply entered the user id in the .txt file and it wouldn't work, I got a "An error occurred: Not Found: User not found"

[2019-02-14 02:43] ghost opened #9 "New feature request"
Hey,
Are you thinking about adding a new feature to check for new posts and download them? there's this java application that downloads all posts and it's not possible to run it 24/7

[2019-02-14 11:12] dvingerh commented on #8
I've tested multiple user ids without issue. Besides using the latest version (1.9) make sure each line with an id in the text file is completely numeric and a valid user id.

[2019-02-14 11:15] dvingerh commented on #9
There are plenty of other Python scripts to achieve this, my script is solely for Instagram stories.
I won't add this, sorry.

https://github.com/rarcega/instagram-scraper
https://github.com/althonos/InstaLooter

[2019-02-14 11:15] #9 closed, assigned to nobody

[2019-02-19 12:12] #8 closed, assigned to nobody

[2019-03-09 21:09] ghost opened #10 "Auto Download when new story is added"
Could auto download be implemented?

[2019-03-09 22:37] dvingerh commented on #10
I won't implement any functionality to allow polling for new stories, but you can use a simple batch/bash loop script to achieve the same thing.

###### Windows

[code]

###### Linux / MacOS

[code]

[2019-03-09 22:37] #10 closed, assigned to nobody

[2019-03-15 17:29] armm29393 opened #11 "timestamp error"
[code]

[2019-03-15 17:39] dvingerh commented on #11
You need to provide more information such as the command you have used

[2019-03-15 17:51] armm29393 commented on #11
I used batch-file taken-at and no-thumb option then I remove taken-at no error
[code]
[code]
Thanks for answer :)

[2019-03-15 17:56] dvingerh commented on #11
I can't reproduce this issue after testing with multiple users, but I'll add some extra error handling when trying to get the taken-at date for the stories.

Update to v2.0 and give it a try

[2019-03-15 18:04] armm29393 commented on #11
It's work!! Thank you so much
[code]

[2019-03-15 18:05] #11 closed, assigned to nobody

[2019-05-02 13:03] ghost opened #12 "[Request] Use less api calls"
So I’m planning to scrape stories of about 7000 users, and I think that is gonna be a huge load on instagram.
Let’s say, I already downloaded the whole stories, is there an option to only download new stories so that it uses less api calls and not check every user?

[2019-05-02 13:05] ghost commented on #12
I know it’s possible because there’s a site that scrape million of users.
For reference: isdb.pw

[2019-05-02 13:28] dvingerh commented on #12
I'm not experienced nor interested in improving functionality for mass scraping, sorry.
You will most likely run into account/ip rate limits by Instagram if you're not using proxies, something this particular script won't support.

Feel free to fork this project and implement proxy support yourself though. (or try a different project that does have proxy support)

An api call still has to be made

[2019-05-02 16:20] ghost commented on #12
What script would you suggest?

[2019-05-02 16:34] dvingerh commented on #12
Perhaps this web api based library can help you get the job done https://github.com/postaddictme/instagram-php-scraper
I think you're going to have to write the script yourself though. I doubt anyone's offering a free, ready to use script capable of doing specifically what you want. Especially considering most projects and the api libraries are written with the intent of legitimate usage and not s

[2019-05-02 19:35] ghost commented on #12
Thanks

[2019-05-02 19:35] #12 closed, assigned to nobody

[2019-05-03 18:35] victor21813 commented on #4
I am curious about why `imported_taken_at` have higher priority for the file name?
And to avoid same file name than add an unique code without any really need info.
Is there any concern for doing that way?
[code]
For me, I prefer order files with when he/she upload the stories.
The upload time unique and really associate with the stories.
Maybe he/she just want to type something and choose an old

[2019-05-03 18:47] dvingerh commented on #4
@victor21813 Yes, there's room for improvement there. Please make a pull request with the suggested changes, thank you 🙂

[2019-05-09 21:02] remlap opened #14 "1440px for Regular Posts"
Hi I am wondering what do you use to get regular posts in 1440px now it has been rolled out?

Thanks

[2019-05-09 21:11] dvingerh commented on #14
Can you show an example of a post with those new image dimensions?

This script uses the [instagram-private-api](https://github.com/ping/instagram_private_api) library which communicates with the private app API directly, so changes regarding available image versions shouldn't require any updates on my part.

[2019-05-09 21:13] remlap commented on #14
https://www.instagram.com/p/BxQUde8A6pe/

I am currently using instaloader which does not support it, I have been using your live downloader for a long time now so your stories version is a huge plus it supports the new 1440.

https://scontent-frt3-1.cdninstagram.com/vp/9f2a44a0c69e6686b4dd7f1bb29be29f/5D70D382/t51.2885-15/e35/60320703_465167720970645_7302803485499276975_n.jpg?_nc_ht=scontent-frt3

[2019-05-09 21:30] dvingerh commented on #14
I haven't come across any stories yet with 1440px width if I understand correctly, the maximum dimensions available in the JSON response given by the app API are 1080x2129 in my experience.

As for regular posts, I use a script of my own to download media from individual profiles which is not on GitHub at this time.

It uses the same library to fetch posts and stories (it downloads both) and suppo

[2019-05-09 21:36] remlap commented on #14
Your stories app is getting 1440x2650.

I grabbed this from mollycaitlynquinn https://i.imgur.com/rgw9W5b.jpg

I'll check out the private git you just linked!

[2019-05-09 21:40] dvingerh commented on #14
Nice :)

I recently stripped some code from the script so certain imports like `asyncio` shouldn't be required anymore (forgot to remove these). Installing any other missing stuff you can easily do with pip, if need be.

[2019-05-09 21:44] remlap commented on #14
Your private git works perfectly from what I can see it is stories and posts rolled into one and works really well!

[2019-05-09 21:46] dvingerh commented on #14
Glad to hear! I'll close this issue, but if you have any more questions feel free to leave a comment here.

[2019-05-09 21:46] #14 closed, assigned to nobody

[2019-06-02 17:33] Etherrrr opened #15 "Cannot login"
It seems i cannot login since the log shows:
[code]
Is there any way to avoid this?

[2019-06-02 19:10] dvingerh commented on #15
Related info: https://github.com/ping/instagram_private_api/issues/44#issuecomment-354938425 and https://github.com/ping/instagram_private_api/issues/91#issuecomment-406982208.

Your best bet is to create a new account on the same device / IP Address / location the application is used at. Other than that, no

[2019-06-02 19:10] #15 closed, assigned to nobody

[2019-06-05 19:35] mortim opened #16 "ModuleNotFoundError: No module named 'instagram_private_api'"
-  OS: Ubuntu 18.04.2 LTS x86_64
-   Kernel: 4.18.0-20-generic
-   Shell: fish

Hello, I have a problem, the program returns an error according to which it does not find the module "instagram_private_api" yet I installed it with:
```pip install git+https://git@github.com/ping/instagram_private_api.git@1.6.0```

Any ideas?

[2019-06-05 21:03] dvingerh commented on #16
Make sure pip installs the package for the correct python version. For instance if pip installs the package for python 2 you cant use it with python 3. If you have pip3 try installing it with that also.

[2019-06-05 21:34] mortim59 commented on #16
[code]

[2019-06-05 21:35] mortim commented on #16
When I try to install with pip3 I have this:
[code]

[2019-06-06 09:01] dvingerh commented on #16
Install [setuptools](https://packaging.python.org/tutorials/installing-packages/#ensure-pip-setuptools-and-wheel-are-up-to-date)

[2019-06-06 10:51] mortim commented on #16
The link not working.

[2019-06-06 12:34] dvingerh commented on #16
https://packaging.python.org/tutorials/installing-packages/#ensure-pip-setuptools-and-wheel-are-up-to-date

`python -m pip install --upgrade pip setuptools wheel`
`python3 -m pip install --upgrade pip setuptools wheel`

If it doesnt work then theres not much else i can suggest since it's not a problem related to my project.

[2019-06-06 15:41] mortim commented on #16
It works thanks ! But I have another question. How to add logins if my account is connected with Facebook ?

[2019-06-06 17:55] dvingerh commented on #16
I'm unsure if it's possible with the library thats being used currently. There's an open issue regarding it on its repo as well. you can try https://github.com/ping/instagram_private_api/issues/169#issuecomment-494619085 but otherwise you'll have to unlink facebook or create a new account.

[2019-06-06 19:42] mortim commented on #16
Okay thanks

[2019-06-06 19:42] #16 closed, assigned to nobody

[2019-06-10 14:06] thelele opened #17 "Authentification failed"
I'm on windows, when I try to download a stories I get this error, and then when I go on instagram it says that somebody tried to connect to your account, I click on "it was me" but still when I redo the command line I have the same error.

[code]

[2019-06-10 15:27] dvingerh commented on #17
See https://github.com/notcammy/PyInstaStories/issues/15

[2019-06-10 15:30] thelele commented on #17
Thanks, will try to create a new account then.

[2019-06-10 15:30] #17 closed, assigned to nobody

[2019-06-10 23:56] ghost opened #18 "[BUG] List index out of range"
Hi,
i currently have a batch running every couple of hours to download stories for list of users, and I just noticed that there's a new argument to download hq videos, so I added the argument to the command in the batch file and started having errors.
When the script reaches the 16 user out of 50 users from list of users i get this error:

[I] Downloading high quality videos enabled. Ffmpeg will b

[2019-06-12 13:58] 123aezakmi123 commented on #17
Temporary fix:
Login from web browser and get the sessionid cookie (DO NOT LOG OUT)
Edit the login function as i did (paste the correct cookie)

P.S.
Does the softban go away after a while (how many days?) or is it permanent?

[code]

[2019-06-12 20:32] dvingerh commented on #18
I've encountered this issue before as well but I don't have a way to reproduce it. Will probably take a while  to resolve. I suggest not using the argument for now as the quality difference is negligible

[2019-06-12 21:48] ghost commented on #18
I can guide you on how to reproduce it, and send you the users list.
I will even create a new Instagram account for you to test.
Will you give it a shot?

[2019-06-13 16:07] dvingerh commented on #17
@123aezakmi123 I'll take a look at your snippet over the weekend, thanks for the info. I don't know anything about softbans.

[2019-06-13 16:34] dvingerh commented on #18
The issue should be resolved now, but thanks for the offer.

[2019-06-13 16:34] #18 closed, assigned to nobody

[2019-06-13 16:36] dvingerh opened #19 "READ If You Have Login Issues"
As of recently new logins may get stuck at a challenge_required error. At the time of writing there's no viable solution for this problem. Please don't create any new issues asking me how to solve this error.

Instagram requires you to verify your login as your login attempt is considered suspicious by their systems.
The API dependency currently does not support challenge solving therefore there's

[2019-06-15 16:48] ghost opened #20 "Retry download on fail"
Hi,
Thanks for all of the hardwork you do to maintain Pyinstastories.
Last night, I startied getting so many weird error, here's the first one:
[I] Getting stories for: jess
----------------------------------------------------------------------
[I] Story already exists: 39529054_1184715181700937_5942815263210115255_n.mp4
[I] Downloading video: 39532943_112384053183659_5498647014533456794_n.mp4
[W]

[2019-06-16 13:53] dvingerh commented on #20
Sounds like your connection isn't stable, causing some packet loss every now and then and thus not being able to download the file completely. Try again on a stable network (preferably no vpn, proxy etc.) and the issue should be resolved.

[2019-06-16 18:48] ghost commented on #20
@notcammy  Can you add a feature to retry failed downloads? I have been getting the urlopen error retrieval a lot, and instead of restarting the script again it would retry the failed download.
Or the script, wouldn't stop on failed downloads, make it retry until it succeeds.
Using a proxy isn't an option for me, because most companies have a limit on proxy bandwith.

[2019-06-16 19:30] dvingerh commented on #20
I'll ill look into it when I got the time

[2019-06-19 22:00] ghost opened #21 "[Enhancement] Display appropriate message"
Hi,
So when trying to download stories from a private user that I don't follow, I get the following message "There are no recent stories to process for this user."
Could Display a more appropriate message so its easier to detect errors and to know if a certain user removed you from their followers list?

[2019-06-19 22:01] ghost commented on #21
Oh and thanks for working on this great script !

[2019-06-20 16:35] dvingerh commented on #20
This should now be added and working in v2.3.

[2019-06-20 16:35] #20 closed, assigned to nobody

[2019-06-20 16:35] notcammy commented on #21
print('-' * 70)

[2019-06-20 16:35] #21 closed, assigned to nobody

[2019-06-20 16:36] dvingerh commented on #21
This should now be added and working in v2.3.

[2019-06-20 20:58] ghost commented on #20
MY HERO !
Thanks a lot

[2019-06-20 20:58] ghost commented on #21
Cheers!

[2019-06-20 21:55] dvingerh commented on #20
Please note that it retries just once for now, making it retry an infinite amount of times is bound to cause problems.

[2019-06-22 19:13] ghost commented on #20
@notcammy  I think it would be better to wait 10 seconds on a failed download and then try again. And to try at least two times before skipping.
What do you say?

[2019-06-22 19:15] ghost commented on #21
@notcammy Any idea on how to check if a certain private user have hidden stories from you?
The way I manually check:
If a certain user have hidden stories from you, you won't be able to see his highlights and his stories.
( Thanks for bearing with me, I'm thinking about studying about python to help out with this project)

[2019-06-22 19:49] dvingerh commented on #21
@rabe398 I don't know but I doubt the API returns such info.

[2019-06-22 19:59] dvingerh commented on #20
Update to v2.4. Download will now be attempted 2 more times with a 10 second interval in case it fails.

[2019-06-22 20:32] rabe398 commented on #20
I have a small favor to ask if you are free and would like to challenge yourself with an issue from another Instagram downloader written in python.
Interested?

[2019-06-23 00:33] rabe398 commented on #20
If you are free and would like to challenge yourself, check this post :
https://github.com/instaloader/instaloader/issues/332
@notcammy

[2019-06-23 11:41] ghost opened #22 "[Enhancement] Ideas for improving user experience"
Thanks for all of the hard work you have done on the script so far.
I thought of some ideas that would improve user experience heres some of them:
1. Display statics at end of script run: ( how many users had stories, how many actual user stories were downloaded, Total script run time)
2. Display errors at end of script:
Errors i had so far: no stories because user went private, urlopen error,  di

[2019-06-23 12:40] dvingerh commented on #22
I can make small changes and bug-fixes where needed but I really don't have the time nor interest to implement more features, sorry. Feel free to make your own fork of this script though, Python is one of the easiest languages to learn so it'll definitely worth your time in the long run.

[2019-06-23 12:40] #22 closed, assigned to nobody

[2019-06-23 13:20] dvingerh commented on #22
A lot of the other scripts available already offer similar features. If you're looking for a script with loads of customization then PyInstaStories isn't the right tool to use.

[2019-06-23 15:26] ghost commented on #22
@notcammy which one would you recommend?

[2019-06-23 16:01] dvingerh commented on #22
I noticed you already use instagram-scraper and instaloader, which are the two main scripts I would've recommended. There's also [InstaLooter](https://github.com/althonos/InstaLooter).  Read the documentation to see what all the different scripts offer.

There is no tool which will do exactly what you want. Either fork the project that suits you best and add the features yourself, or try to write

[2019-07-12 08:24] ghost commented on #20
@notcammy it seems my vpn is causing some problems, I've been getting this error a lot lately:
 "[E] An error occurred: URLError: urlopen error timed out "

Could you implement the same solution to this error too, so it would retry 3 times and after 3 failed attempts it **_would_** skip the **story** and **_won't_** skip the **user** on timeout?

[2019-07-12 16:50] dvingerh commented on #20
I don't think those errors have to do with story download but rather getting user information. Story downloads will be retried on fail no matter the cause.  I've (hopefully) clarified a few of the errors in the new version and _may_ make some bigger changes sometime in the future but a better solution would be for you to troubleshoot your VPN problems or get a more reliable VPN instead.

[2019-07-12 23:38] ghost commented on #20
Thank you

[2019-07-13 08:26] ghost opened #23 "[BUG] Download failed: urlopen error [Errno 11001] getaddrinfo failed"
DELETED

[2019-07-13 08:28] rabe398 commented on #23
I'm willing to share my account credentials so you can verify that the error is account based

[2019-07-13 11:20] dvingerh commented on #23
My bad, I didn't remove a test variable 🤦‍♂  Redownload the latest version

[2019-07-13 11:20] #23 closed, assigned to nobody

[2019-07-18 05:20] ghost commented on #20
@notcammy I've been getting the following errors while reaching the end of downloading stories from a list of users:
######################################
[I] (796/850) 5 second time-out until next user...
[E] An error occurred while iterating users to check: URLError urlopen error timed out
######################################
[I] (797/850) 5 second time-out until next user...
[E] An error occ

[2019-07-27 15:56] dvingerh commented on #20
These errors appear because your internet connection isn't stable.

I'll look into this but have no ETA for a fix.

Could make the script have a cooldown of 10 mintues if it encounters the please try again error, and after the cooldown it would retry from the first user that it encountered the error.

The script was never designed/intended to handle large amount of user downloads and I don't feel

[2019-07-27 16:24] dvingerh commented on #20
I made a few changes in https://github.com/notcammy/PyInstaStories/commit/707bc0c43d3336345a1022e59f7f754b77e34d76.
Added retry user download fails in the same fashion as story download fails. Don't have the time to properly test it but I think things should be working fine. Pull the latest commit and give it a try yourself.

[2019-07-28 02:14] ghost commented on #20
Thank you for your hard work !
I will give it a shot once I get home.

[2019-08-25 15:47] github-userx commented on #14
@notcammy Do You know how I can download one particular Instagram video (url) in highresolution instead of only 240p?

[2019-08-25 17:47] dvingerh commented on #14
Each video quality version has a different filename/url. You can't simply change a value to get a different quality video.

This script downloads the highest available story quality through the Instagram API. If you're unsure of the version it has downloaded you can look the file up by looking through the `video_dash_manifest` and `video_versions` keys of the object associated with the story in th

[2019-08-28 10:48] github-userx commented on #14
@notcammy i want to download particular videos from regular ig posts (not stories). Can your python script do this? What do I have to add or change / enter any parameters, credentials?

The videos I want are within a users timeline of more than 1000 posts

[2019-08-28 20:40] dvingerh commented on #14
No, this script is for story downloading only. Look into other projects available on Github if you haven't already.
https://github.com/instaloader/instaloader
https://github.com/rarcega/instagram-scraper

[2019-08-28 21:07] github-userx commented on #14
Thanks, instaloader also only gets SD video quality ;( not 720p and 1080p

[2019-08-28 21:16] dvingerh commented on #14
I have not seen any instagram video posts with dimensions higher than 720px in width or 900px in height. Can you give some examples of video you want to download.

[2019-08-28 21:36] github-userx commented on #14
Try shortcode: BqPch1Yg_P9

[2019-08-29 14:42] ghost commented on #22
@notcammy Pretty much every Instagram script broke except yours, it seems that seems Instagram implemented some new mechanism to defeat scrapers. Whenever i try to run other scripts i would encounter:
" JSON Query x****/: 429 Too Many Requests "
and if you visit Instagram on a browser you would encounter:
" Error.  Please wait a few minutes before you try again. "
I tried changing accounts and ip

[2019-08-29 15:37] carlhung opened #24 "the profile is in my friend's list. but i got this message: [I] There are no recent stories to process for this user."
I can't download any images of profiles in my friend's list.

$ python3 pyinstastories.py --username xxxx --password xxxx --download xxxx
[I] PYINSTASTORIES (SCRIPT V2.5 - PYTHON V3.7.3) - 11:32:15 PM
[I] Using cached login cookie for "xxxx".
[I] Login to "xxxx" OK!
[I] Login cookie expiry date: 2019-11-27 at 11:20:53 PM
[I] Files will be downloaded to /media/xxxxxxxxxxxx
[I] Getting stories for:

[2019-08-30 06:59] dvingerh commented on #22
Pretty sure it's because they are web-based API scrapers while I use the app API to collect story info. Then again I haven't tested bulk downloading with this script (nor do I want to) so I wouldn't know if recent changes affected the app API too.

[2019-08-30 07:11] dvingerh commented on #24
The user may have chosen to hide stories from you, even though you are following him or her.
Please check if the problem also occurs with your own private accounts.
Either way I've tested downloading a private account I am following and can't reproduce the issue.

[2019-08-30 07:25] dvingerh commented on #14
I will take a proper look at it in the weekend. But after a quick glance I don't believe this video is any higher resolution than others.

[2019-08-30 09:39] github-userx commented on #14
Bless you, many thanks. Very much looking forward to your findings!

[2019-08-30 10:35] dvingerh commented on #14
The maximum dimensions for that video are 640x360. [**JSON response**](https://pastebin.com/emRKqnxZ)

Came across a video that has higher dimensions (960x540, https://www.instagram.com/p/B1cR5PHI4JA/) but I seriously doubt there are videos with dimensions much closer to 720/1080p.

[2019-08-30 11:02] carlhung commented on #24
I don’t really think so. As I tried about 5-6 users. None of them worked.

[2019-08-30 12:41] dvingerh commented on #24
Can you delete your `json_feed.json` file (if one exists), run the attached  script below and then post the new json file here?

The usual response when there are no stories would be when `reel` is null:
[code]
but perhaps the response is different this time and it might give a clue as to what's going on.

[pyinstastories.zip](https://github.com/notcammy/PyInstaStories/files/3559902/pyinstastories

[2019-08-30 16:22] github-userx commented on #14
Many thanks! So probably the original quality was already not high...or IG is heavily downsizing Resolution&quality 

[2019-08-30 16:26] github-userx commented on #14
@notcammy instaloader only gets 480x270 version of the one you posted the json output.
So how do we get the 640x360 version?

[2019-08-30 16:26] github-userx commented on #14
I wonder if live-streaming has similar restrictions

[2019-08-30 16:46] ghost commented on #22
@notcammy  Do you know any scraper that uses app API ?

[2019-08-30 17:49] dvingerh commented on #14
Instagram already heavily compresses and resizes image files to maximum 1440px no matter how high the original image dimensions were. I suppose the similar conditions apply to video no matter the original video quality.

So how do we get the 640x360 version?

Instaloader seems to be web based scraper. It downloads videos based on `video_url` attribute value (there are no other relevant attributes)

[2019-08-30 17:53] dvingerh commented on #22
One of the reasons I made my own scraper is because I couldn't find projects that relied on the app API which seems more reliable. I still don't believe any others exist at this time.

[2019-08-31 07:39] github-userx commented on #14
Yes instaloader indeed uses the web api like pretty much all ig downloader on github right now.

do you know any that can download the high res video via app api? Or do you have a python script for this?
By the way I wish someone would write a full featured opensource instagram client, be it either a pure commandline tool or a small GUI - for now I only know of these very useful tools (and unfortu

[2019-08-31 20:08] dvingerh commented on #14
Afaik none publicly exist. You may use the script linked in https://github.com/notcammy/PyInstaStories/issues/14#issuecomment-491076127 but it's limited in functionality as mentioned in that comment. Feel free to modify it to your needs though

[2019-08-31 21:05] github-userx commented on #14
Thanks. Unfortunately I have neither programming in general nor python skills.

[2019-09-03 09:58] #24 closed, assigned to nobody

[2019-09-11 11:24] remlap opened #25 "Joining 15+ second stories automatically."
Right now I am using ffmpeg to combine stories that are 15+ seconds long automatically with:

`for f in $(ls -hatr *.mp4); do echo file $f >> mylist.txt; done; ffmpeg -f concat -i mylist.txt -c copy stitched-video.mp4; rm mylist.txt`

I then open up stitched-video.mp4 in audacity and then use the trunucate silence filter so I get clean audio.

I then save as a m4a and remux the audo with stitched-

[2019-09-11 11:49] dvingerh commented on #25
I wouldn't know, this isn't related to my script and I'm not experienced with ffmpeg nor audacity.
There seems to be a Scripting plugin for Audacity but you'll have to build from source before you can use it. https://manual.audacityteam.org/man/scripting.html

[2019-09-11 11:49] #25 closed, assigned to nobody

[2019-10-20 22:56] beakwood commented on #17
Where would I go to edit this ? What is the file with login function and where about do I edit this into? the auth.py?

[2019-10-21 21:35] 123aezakmi123 commented on #17
@beakwood in pyinstastories.py file search for **def login** and replace the entire code posted here https://github.com/notcammy/PyInstaStories/issues/17#issuecomment-501285963

OTHER FIX
I solved the challenge_required error enabling the 2FA and disabling it

[2019-10-27 20:55] github-userx opened #26 "What’s your experience regarding video quality: resolution & bitrate ?"
Instaloader downloaded: 640x1136 – video-bitrate: 1170kb/s

PyInstaStories with —hq-videos: 720x1280 – video-bitrate: 1088kb/s

So we get higher resolution but bitrate is tiny bit lower (110kb/s). Which one would you prefer?

[2019-10-27 22:33] dvingerh commented on #26
I'll take bitrate over resolution because with a lower bitrate there is less amount of video detail available and in this case it has to be spread out over a larger "area" (as far as my understanding of video compression goes)

So from a technical standpoint the `--hq-videos` flag is somewhat misleading

[2019-10-27 22:33] #26 closed, assigned to nobody

[2019-10-28 11:06] github-userx commented on #26
@notcammy thanks. Interesting, so in this case (stories) the app-api actually isn’t superior to the web-api. It is definitely the case when it comes to regular instagram posts videos. (Once again many thanks for your script to get true HD videos of posts!).

[2019-12-27 09:14] Baemir opened #27 ""InvalidURL URL can't contain control characters.""
So my setup with this script was working fine until recently the drive where I was saving the Stories failed and I had to move the folders over to a different one (along with the script itself and the login cookies, of course). Now I'm seeing this error over and over for any username I input:

[code]

I redownloaded the script and checked my text file with the list of usernames in case either file

[2019-12-28 02:51] dvingerh commented on #27
I tested with Python 3.7.5 and on multiple machines (windows and debian), I can download stories just fine. I recommend reinstalling Python as well as the dependencies this script uses and see how that goes but in any case I can't reproduce the issue.

[2019-12-28 17:20] Baemir commented on #27
It's working again after setting python3.7 as the default using update--alternatives, installing python3-pip and then installing the API and running the script with said version. For some reason python2 doesn't seem to do the job anymore? I may have just broken it on my end, if it's working fine for other people.
Thanks for your help.

[2019-12-28 17:21] #27 closed, assigned to nobody

[2020-01-03 21:28] gabrielroriz opened #28 "It's not getting Close Friends Stories."
I had tried to use PyInstaStories to download Close Friends stories but I couldn't.

Is it a real problem or am I using it wrongly?

:smile:

[2020-01-04 01:45] gabrielroriz commented on #28
It happened because I wasn't using the properly user, the script cached the first one I used then it keeps using that even when I changed. :smile:

[2020-01-04 01:45] #28 closed, assigned to nobody

[2020-01-13 19:35] mark-ng opened #29 "How can I removed the cached login cookie if I want to login using a different account?"
I try re-enter my username and password, but it still uses the cached login cookie.

[2020-01-13 19:53] #29 closed, assigned to nobody

[2020-01-14 13:43] dvingerh commented on #29
Delete the credentials.json file or rename it if you want to use it again later

[2020-01-25 17:05] pi43r opened #30 "Challenge Required"
Hey,
I am getting stuck at the challenge. Somehow I am unable to pass it.

```[E] Client Error: {"message": "challenge_required", "challenge": {"url": "https://i.instagram.com/challenge/4231068/LeMzj9l17/", "api_path": "/challenge/4231068/LeMzj9l17/", "hide_webview_header": true, "lock": true, "logout": false, "native_flow": true}, "status": "fail", "error_type": "checkpoint_challenge_required"}``

[2020-01-26 01:21] dvingerh commented on #30
See https://github.com/notcammy/PyInstaStories/issues/19 and read through https://github.com/notcammy/PyInstaLive/issues/57

[2020-01-26 01:21] #30 closed, assigned to nobody

[2020-01-30 15:55] kk-Chiron opened #31 "High RAM / Memory Usage"
So I'm using a batch file but the script isn't that memory efficent. It's increasing quite hard with every single storie (dk why exactly but seems like everything downloaded is getting cached?!) So I'am sure it you can optimize it, becouse for now sadly I can't run a file bigger than 400acc+-

[2020-01-30 20:54] dvingerh commented on #31
Try the latest version, i added extra line to handle urllib cache cleanup in https://github.com/notcammy/PyInstaStories/commit/ce415e87f5eb4ca54b844e232f03146f8f18bf4b
Not sure if it'll help though because i dont have a list big enough to test with. Batch download was never intended for so many accounts

[2020-01-31 12:57] kk-Chiron commented on #31
@notcammy Didn't worked for me but still thanks. Managed to get it through a secondary program cleaning my memory every x minutes automatically.

[2020-03-05 16:10] afterdelight opened #32 "[NEW FEATURE] Add post download"
Please add post download like in your personal branch. Thank you!

[2020-03-05 19:21] dvingerh commented on #32
I don't plan on adding any more features to this script, it is solely for downloading stories only.
Use the code on this gist to download posts. https://gist.github.com/notcammy/bb440f7ab615017f62f3f0c87eb7cc2f

[2020-03-05 19:21] #32 closed, assigned to nobody

[2020-04-04 03:56] wangxu94 opened #33 "[Feature Request] Add highlights download"
Please add the ability to download Highlights (archived stories). Thanks!

[2020-04-13 22:02] dvingerh commented on #33
I'll take a look at implementing it later this week.

[2020-04-19 18:28] dvingerh commented on #33
Implementing this requires a large rewrite of code, the used API library does not support the endpoint responsible for retrieving highlight medias. It's unlikely that I'll do this anytime soon, so in the meantime use an alternative project like https://github.com/instaloader/instaloader to download highlights.

[2020-04-19 18:28] #33 closed, assigned to nobody

[2020-05-06 10:36] afterdelight commented on #17
@123aezakmi123 I tried the code and the 2fA solution but both didn't work.

[2020-05-06 10:37] afterdelight commented on #32
@dvingerh Hi, can you share the gist again? I lost the code. Thanks

[2020-05-06 10:48] dvingerh commented on #32
The gist still exists, only my username has changed 👍
https://gist.github.com/dvingerh/bb440f7ab615017f62f3f0c87eb7cc2f

[2020-05-06 10:52] dvingerh commented on #17
See both https://github.com/dvingerh/PyInstaLive/issues/57#issuecomment-616072063 and https://github.com/dvingerh/PyInstaLive/issues/57#issuecomment-524650248

[2020-05-06 10:58] afterdelight commented on #32
Oh ok, thanks !

[2020-05-06 10:59] afterdelight commented on #17
It worked, it didn't even ask for challenge codes anymore, thanks !

[2020-05-06 12:40] afterdelight commented on #32
@dvingerh

Hi, I got an error code from pyigposts.py while downloading.
This problem doesn't exist with pyigdumper.py. Probably because of a different module used.

An error occurred: HTTPSConnectionPool(host='scontent-sin6-1.cdninstagram.com', port=443): Max retries exceeded with url: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

(Caused by NewConnectionError('<urllib3.connection.HTTPSConnec

[2020-05-06 12:54] dvingerh commented on #32
The script is running fine here, I can't tell you the exact cause, looks like Instagram's servers are not responding to the download request (as the error suggests). I suggest trying again at a later time

[2020-05-06 13:17] afterdelight commented on #32
It happens inconsistent and randomly on some posts :S

[2020-05-06 13:39] afterdelight commented on #32
When it happened with igpystories.py it resume the downlaod and ignore the last error and skip to next stories so the downlaod proceed but with igpyposts.py the download stuck and the program terminated when it counters error. What code should I add/change to igpyposts.py so it can ignore error and resume download like igpystories.py ?

[2020-05-06 13:53] dvingerh commented on #32
Try this one it has retry/skip like the script in this repo does

https://gist.github.com/dvingerh/2745b62f46cf2f20852a4393c8c72f8c

I commented out story downloading on L446 but if you want it to do both story and posts uncomment it. Untested but should do the trick

As for the failing downloads you could just have a flaky internet connection

[2020-05-06 14:01] afterdelight commented on #32
With the new code it stops at the first user and doesn not continue to the next users.

[2020-05-06 14:42] dvingerh commented on #32
Oh yeah i didnt know it had to be able to iterate through users
Added multiple user and batch file support

https://gist.github.com/dvingerh/2745b62f46cf2f20852a4393c8c72f8c (redownload the script)

[2020-05-06 15:26] afterdelight commented on #32
Okay, now it works like it intended to, thank you again.

[2020-05-11 19:57] afterdelight commented on #32
There is a bug in the new pyigdumper.py the posts mixed randomly between usernames folders
some of posts user a and user b land in user c folder
some of posts user d and user e land in user f folder
The folders become a mess and cause confusion which photos belong to whom.

[2020-05-11 20:06] dvingerh commented on #32
Fuck i forgot to add the proper line for that to avoid it
this *should* be working now

https://gist.github.com/dvingerh/2745b62f46cf2f20852a4393c8c72f8c

[2020-05-12 10:24] afterdelight commented on #32
Well, hopefully it's working fine now. Thanks again :)

[2020-05-18 05:11] Fcap207 opened #35 "Refreshing stories search"
There is a way to make the script search for new stories from a determined amount of time?

[2020-05-18 21:34] jagilley opened #36 "Not showing as a user who viewed story"
I've found that when I use this library to view stories, I don't show up in the story poster's "people who viewed your story" section. Is this as it's designed to be, and is there a way to change this?

[2020-05-19 00:05] dvingerh commented on #36
It's by design. It's not possible right now to mark them as seen but the endpoint responsible for it [seems to be supported by the API dependency](https://instagram-private-api.readthedocs.io/en/latest/api.html?highlight=story%20seen#instagram_private_api.Client.media_seen) so it could be added

[2020-05-19 00:10] jagilley commented on #36
Thanks! Maybe I'll add the functionality and submit a PR with the added functionality, if you'd be open to it

[2020-05-19 00:19] dvingerh commented on #36
No problem. but make it an optional functionality through the use of an extra argument (name at your discretion)

[2020-05-19 00:19] #36 closed, assigned to nobody

[2020-05-20 15:11] JCGithu opened #37 "Error: URL can't contain control characters"
Hey, first off thanks for the great project, it's been really helpful.

I'm trying to embed your code into a project, which has so far worked pretty well! When running the code as an import the username to download works perfectly fine, however, once I package the project with PyInstaller I'm now recieving this issue with all usernames:

`[E] (1) Download failed: InvalidURL URL can't contain contr

[2020-05-20 15:25] dvingerh commented on #37
What seems to happen is that either some other part of your code (or pyinstaller, in a way) is adding an EOL character `\r\n` to the username string variable which is obviously not accepted in an URL

Try using `rstrip()` to remove trailing newlines

[2020-05-20 15:56] JCGithu commented on #37
@dvingerh

Thank you for your help! I suspected it may not be related to your code but just wanted to check as relatively new to this and couldn't find any answers.

[2020-05-23 13:58] sherl0ck17 opened #38 "--username and --password arguments"
Hello Dvingerh,

I am a newbie to all of this. Can I trouble you to teach me exactly which line of the file 'pyinstastories.py' do I input my username and password for it to work as intended.

Thank you so much!

[2020-05-23 14:00] #37 closed, assigned to nobody

[2020-05-23 14:01] dvingerh commented on #38
You don't need to modify code, pass them as arguments like intended
If you insist on hard coding them modify the code to your wish at L409-L410

[2020-05-23 14:03] dvingerh commented on #35
If you want to periodically check for new stories use a batch or bash loop depending on your OS.

[2020-05-23 14:29] sherl0ck17 commented on #38
If I were to do supposed to what you said, how will I be able to download those private accounts?

Back on to the issue, the only code I will have to edit is on your file and not on any files in the folder of 'instagram_private_api'?

[2020-05-23 14:29] sherl0ck17 commented on #38
If I were to do supposedly like what you said, how will I be able to download those private accounts?

Back on to the issue, the only code I will have to edit is on your file and not on any files in the folder of 'instagram_private_api'?

[2020-05-23 14:36] sherl0ck17 commented on #38
Cause the issue I'm having on hand is this -
[E] No username/password provided, but there is no login cookie present either.
[E] Please supply --username and --password arguments.

[2020-05-23 14:37] dvingerh commented on #38
The error is pretty self explanatory, add `--username yourusername --password yourpassword` to your command
And install the api dependency if you haven't already by running the command given on its repository page

https://github.com/ping/instagram_private_api#install

[2020-05-23 14:51] sherl0ck17 commented on #38
I have downloaded the API - https://github.com/ping/instagram_private_api#install

" add --username yourusername --password yourpassword to your command" - You meant to type it in PowerShell itself or to hardcode the file? I am confused.

[2020-05-23 14:57] dvingerh commented on #38
Yes

[2020-05-23 15:40] sherl0ck17 commented on #38
python3 pyinstastories.py --username xxx --password xxx -d justinbieber
It failed.

[2020-05-23 15:41] dvingerh commented on #38
cant help without an error message

[2020-05-24 04:21] sherl0ck17 commented on #38
python3 pyinstastories.py --username xxx --password xxx -d justinbiebier
----------------------------------------------------------------------
[I] PYINSTASTORIES (SCRIPT V2.6 - PYTHON V3.8.3) - 12:20:00 PM
----------------------------------------------------------------------
[E] No username/password provided, but there is no login cookie present either.
[E] Please supply --username and --passwor

[2020-05-24 04:31] sherl0ck17 commented on #38
If you insist on hard coding them modify the code to your wish at L409-L410 - If I ever want to hard code them, do I change all 'username' & 'password' to mine as shown below?

'if args.username and args.password:
		ig_client = login(args.username, args.password)'

[2020-05-24 10:38] dvingerh commented on #38
Remove 409 entirely and change args.username and args.password to your own username and password on line 410

I highly recommend learning the basics of Python and use of the command line before continuing to use scripts like these

[2020-05-24 11:07] sherl0ck17 commented on #38
Honestly, I tried reading up on them. However, can't seem to understand them and getting them to work but understand them much better with you explaining them to me! I'm so sorry for bothering you over something so trivial.

After I've successfully logged in, I received an email about about being logged onto a Samsung SM-G930F phone, is it supposed to be like that?

[2020-05-24 11:09] dvingerh commented on #38
Yes, the API dependency by default uses that phone model variable when communicating with Instagram, as seen here https://github.com/ping/instagram_private_api/blob/8eb3d726360cce264a586a0a68bc778882f41c81/instagram_private_api/constants.py#L12-L20

[2020-05-25 05:53] sherl0ck17 commented on #38
How do I log out of my current session and into another account? Do I type 'python3 pyinstastories.py --username xxx2 --password xxx2'? Before I proceed to download stories from a .txt file?

[2020-05-25 06:02] sherl0ck17 commented on #38
Possible to skip the downloading of users if there wasn't any stories to be downloaded?

And will the issue of Ffmpeg format be fixed?

[2020-05-25 09:28] dvingerh commented on #38
Delete the credentials.json file and then you can login with a different account as you please

It already does this.

What do you mean?

[2020-05-25 17:34] sherl0ck17 commented on #38
I meant it in the sense that is it possible to be skipping the user (if that user does not have any stories to start with) without even downloading a folder with it's username.

Downloaded a video but it isn't in high quality format, ffmpeg, which makes me wonder under what conditions will my downloaded videos be in high quality?

[2020-05-26 10:19] sherl0ck17 commented on #38
Can I ask when do I 'git clone git' or 'pip install git'?

E.g., Your 'pyigposts.py' repository?

[2020-05-26 12:35] dvingerh commented on #38
A check still needs to be done if the user has any stories. If there are no (new) stories then the script takes no further action and proceeds to the next user. Regardless of there being any available stories or not a folder is still created beforehand. It's a minor annoyance that I haven't bothered fixing yet.

There seems to be an xml string which contains a slightly higher bitrate video file co

[2020-05-26 12:37] #38 closed, assigned to nobody

[2020-05-26 12:37] #35 closed, assigned to nobody

[2020-05-26 14:21] sherl0ck17 commented on #38
???

[2020-05-26 14:26] dvingerh commented on #38
You can google that easily, this goes beyond the scope of troubleshooting for this repository

https://git-scm.com/docs/git-clone
https://pip.pypa.io/en/stable/reference/pip_install/#description

[2020-05-26 14:52] sherl0ck17 commented on #38
I tried using 'pyigposts.py', error shown:
Traceback (most recent call last):
  File "pyigposts.py", line 10, in <module>
    import requests
ModuleNotFoundError: No module named 'requests'

[2020-05-27 13:37] sherl0ck17 commented on #38
Shall I start another another topic for you to keep track of or above post is fine? Please reply to it, thanks.

[2020-06-09 11:03] dlagg opened #39 "Output download directory"
It will be great if we can specify the output dir for stories folder.

[2020-06-13 18:06] sherl0ck17 commented on #38
I encountered a error while downloading with PyInstaStories.

[I] Getting stories for: XXX
----------------------------------------------------------------------
[E] A general error occurred: [Errno 22] Invalid argument

Any idea how to debug this?

[2020-06-13 18:08] sherl0ck17 commented on #38
I encountered an error while downloading with PyInstaStories.

[I] Getting stories for: XXX
----------------------------------------------------------------------
[W] Downloading high quality videos enabled but Ffmpeg could not be found. Falling back to default.
----------------------------------------------------------------------
[E] A general error occurred: [Errno 22] Invalid argument

Any ide

[2020-06-13 18:16] sherl0ck17 commented on #38
I encountered an error while downloading with PyInstaStories.

[I] Getting stories for: XXX
[W] Downloading high quality videos enabled but Ffmpeg could not be found. Falling back to default.
[E] A general error occurred: [Errno 22] Invalid argument

@dvingerh Any idea how to debug the last line on [Errno 22]?

[2020-06-13 18:17] dvingerh commented on #38
What is the full command you are using?

[2020-06-13 18:40] dvingerh commented on #39
Added in https://github.com/dvingerh/PyInstaStories/commit/73fefe96c0748cd4186cbc5c8ec57dac99db2044

Usage:
`python pyinstastories.py --output "your/destination/folder" --download johndoe`

[2020-06-13 18:40] #39 closed, assigned to nobody

[2020-06-13 18:48] sherl0ck17 commented on #38
Hello, welcome back. Good to hear from you.

python3 pyinstastories.py --batch-file usernames.txt --taken-at --no-thumbs --hq-videos

It was downloading fine for the other users, upon reaching XXX, that error was shown.

[2020-06-13 18:51] sherl0ck17 commented on #38
@dvingerh I am still waiting for your reply on this, can you assist me? This is in relation to downloading of posts on Insta. Thank you.

[2020-06-13 18:53] dvingerh commented on #38
If it downloads fine for other users but fails at 'XXX' then I need to know what XXX is since there's likely a character that messes up the rest of the command.

A single Google search would already reveal the answer, which is that you have to install the `requests` module with pip: `pip install requests`

[2020-06-13 19:01] sherl0ck17 commented on #38
Is there a more discreet way of revealing it to you and not through this platform?

[2020-06-13 19:03] dvingerh commented on #38
e-mail it to dirk.ving@gmail.com

[2020-06-13 20:17] sherl0ck17 commented on #38
I've emailed you, do let me know if you're unable to replicate the same error.

[2020-06-17 02:04] fsiler opened #40 "broken- won't download anything"
[code]

[2020-06-17 02:19] fsiler commented on #40
Fixed in part by [PR](https://github.com/dvingerh/PyInstaStories/pull/41)

[2020-06-17 02:19] #40 closed, assigned to nobody

[2020-06-19 13:12] klevison opened #42 "Close friends stories"
Can I get only close friends stories? Or know which media came from close friends?

[2020-06-19 13:18] dvingerh commented on #38
@sherl0ck17
I'm not running into any problems when downloading stories from the username you sent me when using the same arguments as well as a usernames text file.

[2020-06-19 13:20] dvingerh commented on #42
No such functionality is supported at this time. This script will only download 'normal' stories that are visible to the logged in user account.

[2020-06-19 13:20] #42 closed, assigned to nobody

[2020-07-08 14:08] InTheFlipside opened #43 "Can't download anything - 'list' object has no attribute 'get'"
Hey,
Sorry to bother you, I have an error while running the script. I provide the cookie in the credentials.json and it works but when i'm running the command :
python instagram.py --download sci
I have this error :
[code]
it's python3.6 on a windows 10

[2020-07-09 10:26] sherl0ck17 commented on #32
@dvingerh Hey, I tried using both pyigposts.py & pyigdumper.py to download justinbieber pictures, but the download stops at 21 posts when in fact he had over 5K posts.

Is there something wrong with it or it's meant to be that way?

Thank you.

[2020-07-09 10:33] dvingerh commented on #32
@sherl0ck17 This is intended, if you need a scraper that's actively maintained and can scrape entire profiles I recommend looking into other solutions such as https://github.com/arc298/instagram-scraper

[2020-07-09 10:36] dvingerh commented on #43
You don't have to manually provide cookies in the json file, that file is automatically generated when you login with the appropriate arguments. Le me know if you did everything correctly and are still experiencing issues since I can't reproduce the problem.

[2020-07-09 11:15] sherl0ck17 commented on #32
How & why does it stop at the 21st photo? What is the reason behind this coding?

Scraper meaning it helps to download all photos from an account?

Is there a way for you to code to be able to bypass a private account and be able to download both stories & posts of that particular user?

[2020-07-09 11:21] dvingerh commented on #32
Because it only retrieves the first "page" of the user feed and I haven't implemented pagination (meaning going through the entire user feed) since I didn't need functionality like that.

Yes

Viewing the contents of private accounts is not possible to bypass at this time

[2020-07-09 11:42] sherl0ck17 commented on #32
Hey man, thanks for the prompt reply and you replying to all my enquiries!

Do update me if ever there's a way to bypass private accounts! You've got my email.

Much appreciated, man! 💯👍

[2020-07-14 13:11] #43 closed, assigned to nobody

[2020-08-10 17:46] naziko2411 opened #44 "Help me how to use it with ''taken_at'' format."

[2020-08-10 18:09] dvingerh commented on #44
An example is provided in https://github.com/dvingerh/PyInstaStories#examples
There is no customization available

[2020-08-10 18:09] #44 closed, assigned to nobody

[2020-08-14 07:47] naziko2411 opened #45 "Flashback help"
Hey there, I'm quite noob to use Github repositories and I'm here to save Stories and Livestreams in Instagram. Help me for flashback please. Thank you.

[2020-11-11 12:32] sirakai-pc opened #46 "How to run with multiple logins?"
Hi, I don't seem to find a way to run this script with multiple login sessions..
How can I do that? Just by combining two credentials.json?

[2020-11-27 02:01] rabea98 opened #47 "Account gets flagged when uses Pyinstastories"
No

[2020-12-01 14:02] sensorius commented on #47
@rabea98 I've made similiar experiences starting last week, two accounts have been disabled. Did you get the account verification challenge while attempting to login manually or were you able to see an error code in "instagram_private_api " used by pyinstastories?

[2020-12-01 14:05] rabea98 commented on #47
No

[2020-12-06 15:49] babyrig commented on #47
I have the same issue but with "24 hour review" still waiting to see what will happen, but when the account get disabled it's forever ?

[2020-12-07 07:59] sensorius commented on #47
@babyrig I was not able to reactivate my flagged accounts.

[2020-12-07 08:55] babyrig commented on #47
I found this may or may not help with disabled accounts.

[https://socialtipster.co/instagram-account-disabled/](url)

[2020-12-19 14:03] sabueso commented on #46
Hi!

AFAIK you'll to clone the same repo twice (or N): you don't have a simple way to specify credentials.json from command line.

Cheers

[2020-12-19 15:45] #46 closed, assigned to nobody

[2021-01-11 07:55] #19 closed, assigned to nobody

[2021-01-11 07:55] #31 closed, assigned to nobody

[2021-01-11 07:55] #45 closed, assigned to nobody

[2021-01-11 07:55] #47 closed, assigned to nobody

[2021-02-04 12:37] tetrahydra opened #48 "Batch download"
Wrong question

[2021-02-04 12:38] #48 closed, assigned to nobody

[2021-02-24 09:40] Andy8r0X opened #49 "login error "NoneType""
[code]
[code]

[2021-02-26 20:01] Andy8r0X commented on #49
Solution: Chage authenticated_user_name to authenticated_user_id
Line 84 and Line 121

[2021-02-26 20:01] #49 closed, assigned to nobody

[2021-02-27 07:14] HaujetZhao opened #50 "api.authenticated_user_name causes problems"
In my case, the `api.authenticated_user_name` is `None`, and it causes problem in line 121, str cannot concatenate None.

After commenting the lines relted to `api.authenticated_user_name`, the script ran then.

[2021-03-06 02:24] Andy8r0X commented on #50
#49  Solution: Chage authenticated_user_name to authenticated_user_id
Line 84 and Line 121

[2021-03-28 10:26] capsload2 opened #51 "Things to do to avoid flagging"
Hey,

i thought about something: Could it be that Instagram is blocking our Accounts,
because we do "the same" processes on a regular basis?

Like my Linux VPS is checking every 26 minutes for new Instagram Stories.

Maybe we can avoid the block when we do "random" stuff as well, as for example:

Like the newest picture that was tagged with #summer

1) You will give a random user a like
2) Maybe f

[2021-03-29 11:15] ammark11 opened #52 "error"
i get this error
[E] Unexpected Exception: can only concatenate str (not "NoneType") to str

what should i do?

[2021-03-29 14:56] toprakmurat commented on #52
Yeah i also get this error, too. Waiting for the solution

[2021-03-29 15:02] toprakmurat commented on #52
Oh, I found the solution. Just change api.authenticated_user_name in line 84 and 121 to api.authenticated_user_id. It worked for me

[2021-03-29 16:12] sherl0ck17 opened #53 ""Please wait a few minutes before you try again""
Downloading as per normal, an error was discovered.

[code]

[2021-03-29 16:12] sherl0ck17 commented on #53
Can anyone assist me?

[2021-03-29 16:12] sherl0ck17 commented on #53
Thank you.

[2021-04-01 06:03] Alexo88 commented on #49
ty ty you save me,

[2021-04-02 22:58] doopidydoopidydoopidy opened #54 "How to make sure cookie and login works"
Sorry guys, noob here.

How do i provide username/password/cookie as per below.

PS C:\Users\user\git\pyinstastories> python pyinstastories.py -d justinbieber
----------------------------------------------------------------------
[I] PYINSTASTORIES (SCRIPT V2.6 - PYTHON V3.9.2) - 06:57:08 AM
----------------------------------------------------------------------
[E] No username/password provided, b

[2021-04-06 11:50] #54 closed, assigned to nobody

[2021-04-11 16:17] sherl0ck17 opened #55 "HTTP Error 429: -."
A few times it happened before upon downloading stories from other users, an error will occur:
[code]

[2021-04-16 18:15] sherl0ck17 opened #56 "Download failed: Bad Request: feedback_required."
Downloading as per normal, an error was discovered.

[code]

[2021-04-16 18:17] sherl0ck17 commented on #53
@dvingerh

[2021-04-16 18:17] sherl0ck17 commented on #55
@dvingerh

[2021-04-16 18:17] sherl0ck17 commented on #56
@dvingerh

[2021-04-16 18:36] dvingerh commented on #56
This repository is no longer being maintained, sorry. I highly recommend using a different script to download Instagram content